extends ../_common/layout.jade

block content
  .right_col(role='main')
    div
      .page-title
        .title_left
          h3 Contacts Design
        .title_right
          .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
            .input-group
              input.form-control(type='text', placeholder='Search for...')
              span.input-group-btn
                button.btn.btn-default(type='button') Go!
      .clearfix
      .row
        .col-md-12
          .x_panel
            .x_content
              .row
                .col-md-12.col-sm-12.col-xs-12.text-center
                  ul.pagination.pagination-split
                    li
                      a(href='#') A
                    li
                      a(href='#') B
                    li
                      a(href='#') C
                    li
                      a(href='#') D
                    li
                      a(href='#') E
                    li ...
                    li
                      a(href='#') W
                    li
                      a(href='#') X
                    li
                      a(href='#') Y
                    li
                      a(href='#') Z
                .clearfix
                .col-md-4.col-sm-4.col-xs-12.profile_details
                  .well.profile_view
                    .col-sm-12
                      h4.brief
                        i Digital Strategist
                      .left.col-xs-7
                        h2 Nicole Pearson
                        p
                          strong About:
                          |  Web Designer / UX / Graphic Artist / Coffee Lover
                        ul.list-unstyled
                          li
                            i.fa.fa-building
                            |  Address:
                          li
                            i.fa.fa-phone
                            |  Phone #:
                      .right.col-xs-5.text-center
                        img.img-circle.img-responsive(src='images/img.jpg', alt='')
                    .col-xs-12.bottom.text-center
                      .col-xs-12.col-sm-6.emphasis
                        p.ratings
                          a 4.0
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star-o
                      .col-xs-12.col-sm-6.emphasis
                        button.btn.btn-success.btn-xs(type='button')
                          i.fa.fa-user
                          i.fa.fa-comments-o
                        button.btn.btn-primary.btn-xs(type='button')
                          i.fa.fa-user
                          |  View Profile
                .col-md-4.col-sm-4.col-xs-12.profile_details
                  .well.profile_view
                    .col-sm-12
                      h4.brief
                        i Digital Strategist
                      .left.col-xs-7
                        h2 Nicole Pearson
                        p
                          strong About:
                          |  Web Designer / UI.
                        ul.list-unstyled
                          li
                            i.fa.fa-building
                            |  Address:
                          li
                            i.fa.fa-phone
                            |  Phone #:
                      .right.col-xs-5.text-center
                        img.img-circle.img-responsive(src='images/user.png', alt='')
                    .col-xs-12.bottom.text-center
                      .col-xs-12.col-sm-6.emphasis
                        p.ratings
                          a 4.0
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star-o
                      .col-xs-12.col-sm-6.emphasis
                        button.btn.btn-success.btn-xs(type='button')
                          i.fa.fa-user
                          i.fa.fa-comments-o
                        button.btn.btn-primary.btn-xs(type='button')
                          i.fa.fa-user
                          |  View Profile
                .col-md-4.col-sm-4.col-xs-12.profile_details
                  .well.profile_view
                    .col-sm-12
                      h4.brief
                        i Digital Strategist
                      .left.col-xs-7
                        h2 Nicole Pearson
                        p
                          strong About:
                          |  Web Designer / UI.
                        ul.list-unstyled
                          li
                            i.fa.fa-building
                            |  Address:
                          li
                            i.fa.fa-phone
                            |  Phone #:
                      .right.col-xs-5.text-center
                        img.img-circle.img-responsive(src='images/user.png', alt='')
                    .col-xs-12.bottom.text-center
                      .col-xs-12.col-sm-6.emphasis
                        p.ratings
                          a 4.0
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star-o
                      .col-xs-12.col-sm-6.emphasis
                        button.btn.btn-success.btn-xs(type='button')
                          i.fa.fa-user
                          i.fa.fa-comments-o
                        button.btn.btn-primary.btn-xs(type='button')
                          i.fa.fa-user
                          |  View Profile
                .col-md-4.col-sm-4.col-xs-12.profile_details
                  .well.profile_view
                    .col-sm-12
                      h4.brief
                        i Digital Strategist
                      .left.col-xs-7
                        h2 Nicole Pearson
                        p
                          strong About:
                          |  Web Designer / UI.
                        ul.list-unstyled
                          li
                            i.fa.fa-building
                            |  Address:
                          li
                            i.fa.fa-phone
                            |  Phone #:
                      .right.col-xs-5.text-center
                        img.img-circle.img-responsive(src='images/user.png', alt='')
                    .col-xs-12.bottom.text-center
                      .col-xs-12.col-sm-6.emphasis
                        p.ratings
                          a 4.0
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star-o
                      .col-xs-12.col-sm-6.emphasis
                        button.btn.btn-success.btn-xs(type='button')
                          i.fa.fa-user
                          i.fa.fa-comments-o
                        button.btn.btn-primary.btn-xs(type='button')
                          i.fa.fa-user
                          |  View Profile
                .col-md-4.col-sm-4.col-xs-12.profile_details
                  .well.profile_view
                    .col-sm-12
                      h4.brief
                        i Digital Strategist
                      .left.col-xs-7
                        h2 Nicole Pearson
                        p
                          strong About:
                          |  Web Designer / UX / Graphic Artist / Coffee Lover
                        ul.list-unstyled
                          li
                            i.fa.fa-building
                            |  Address:
                          li
                            i.fa.fa-phone
                            |  Phone #:
                      .right.col-xs-5.text-center
                        img.img-circle.img-responsive(src='images/img.jpg', alt='')
                    .col-xs-12.bottom.text-center
                      .col-xs-12.col-sm-6.emphasis
                        p.ratings
                          a 4.0
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star-o
                      .col-xs-12.col-sm-6.emphasis
                        button.btn.btn-success.btn-xs(type='button')
                          i.fa.fa-user
                          i.fa.fa-comments-o
                        button.btn.btn-primary.btn-xs(type='button')
                          i.fa.fa-user
                          |  View Profile
                .col-md-4.col-sm-4.col-xs-12.profile_details
                  .well.profile_view
                    .col-sm-12
                      h4.brief
                        i Digital Strategist
                      .left.col-xs-7
                        h2 Nicole Pearson
                        p
                          strong About:
                          |  Web Designer / UI.
                        ul.list-unstyled
                          li
                            i.fa.fa-building
                            |  Address:
                          li
                            i.fa.fa-phone
                            |  Phone #:
                      .right.col-xs-5.text-center
                        img.img-circle.img-responsive(src='images/user.png', alt='')
                    .col-xs-12.bottom.text-center
                      .col-xs-12.col-sm-6.emphasis
                        p.ratings
                          a 4.0
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star-o
                      .col-xs-12.col-sm-6.emphasis
                        button.btn.btn-success.btn-xs(type='button')
                          i.fa.fa-user
                          i.fa.fa-comments-o
                        button.btn.btn-primary.btn-xs(type='button')
                          i.fa.fa-user
                          |  View Profile
                .col-md-4.col-sm-4.col-xs-12.profile_details
                  .well.profile_view
                    .col-sm-12
                      h4.brief
                        i Digital Strategist
                      .left.col-xs-7
                        h2 Nicole Pearson
                        p
                          strong About:
                          |  Web Designer / UI.
                        ul.list-unstyled
                          li
                            i.fa.fa-building
                            |  Address:
                          li
                            i.fa.fa-phone
                            |  Phone #:
                      .right.col-xs-5.text-center
                        img.img-circle.img-responsive(src='images/user.png', alt='')
                    .col-xs-12.bottom.text-center
                      .col-xs-12.col-sm-6.emphasis
                        p.ratings
                          a 4.0
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star-o
                      .col-xs-12.col-sm-6.emphasis
                        button.btn.btn-success.btn-xs(type='button')
                          i.fa.fa-user
                          i.fa.fa-comments-o
                        button.btn.btn-primary.btn-xs(type='button')
                          i.fa.fa-user
                          |  View Profile
                .col-md-4.col-sm-4.col-xs-12.profile_details
                  .well.profile_view
                    .col-sm-12
                      h4.brief
                        i Digital Strategist
                      .left.col-xs-7
                        h2 Nicole Pearson
                        p
                          strong About:
                          |  Web Designer / UI.
                        ul.list-unstyled
                          li
                            i.fa.fa-building
                            |  Address:
                          li
                            i.fa.fa-phone
                            |  Phone #:
                      .right.col-xs-5.text-center
                        img.img-circle.img-responsive(src='images/user.png', alt='')
                    .col-xs-12.bottom.text-center
                      .col-xs-12.col-sm-6.emphasis
                        p.ratings
                          a 4.0
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star-o
                      .col-xs-12.col-sm-6.emphasis
                        button.btn.btn-success.btn-xs(type='button')
                          i.fa.fa-user
                          i.fa.fa-comments-o
                        button.btn.btn-primary.btn-xs(type='button')
                          i.fa.fa-user
                          |  View Profile
                .col-md-4.col-sm-4.col-xs-12.profile_details
                  .well.profile_view
                    .col-sm-12
                      h4.brief
                        i Digital Strategist
                      .left.col-xs-7
                        h2 Nicole Pearson
                        p
                          strong About:
                          |  Web Designer / UI.
                        ul.list-unstyled
                          li
                            i.fa.fa-building
                            |  Address:
                          li
                            i.fa.fa-phone
                            |  Phone #:
                      .right.col-xs-5.text-center
                        img.img-circle.img-responsive(src='images/user.png', alt='')
                    .col-xs-12.bottom.text-center
                      .col-xs-12.col-sm-6.emphasis
                        p.ratings
                          a 4.0
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star
                          a(href='#')
                            span.fa.fa-star-o
                      .col-xs-12.col-sm-6.emphasis
                        button.btn.btn-success.btn-xs(type='button')
                          i.fa.fa-user
                          i.fa.fa-comments-o
                        button.btn.btn-primary.btn-xs(type='button')
                          i.fa.fa-user
                          |  View Profile
  