doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Contact Form | Gentellela Alela! by Colorlib
    // Bootstrap
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
    // NProgress
    //link(href='../vendors/nprogress/nprogress.css', rel='stylesheet')
    // Custom Theme Style
    link(href='./build/css/custom.min.css', rel='stylesheet')
  body.nav-md
    .container.body
      .main_container
        include ./_leftmenu.jade
        include ./_topnavi.jade
        // page content
        block content
        // /page content
        // footer content
        footer
          .pull-right
            | Gentelella - Bootstrap Admin Template by
            a(href='https://colorlib.com') Colorlib
          .clearfix
        // /footer content
    // jQuery
    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    // Bootstrap
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    // FastClick
    //script(src='../vendors/fastclick/lib/fastclick.js')
    // NProgress
    //script(src='../vendors/nprogress/nprogress.js')
    // Custom Theme Scripts
    script(src='./build/js/custom.min.js')
